@mixin light-theme {
  --bg-color: Canvas;
  --text-color: CanvasText;
}

@mixin dark-theme {
  --bg-color: CanvasText;
  --text-color: Canvas;
}

:root {
  --font-size: 14px;
  --font-family: Arial, sans-serif;
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}



body {
  background: var(--bg-color);
  color: var(--text-color);


  &.light-theme {
    @include light-theme;
  }
  
  &.dark-theme {
    @include dark-theme;
  }
}
