:root {
  --font-size: 14px;
  --font-family:  Arial, sans-serif;

  /*
  Canvas, CanvasText unfortunately only works reliably on chrome atm
  more info: https://www.stefanjudis.com/today-i-learned/css-defines-color-values-that-follow-system-preferences/
   */
  --bg-color: Canvas;
  --text-color: CanvasText;
  color-scheme: light dark;
  background-color: var(--bg-color);
  color: var(--text-color);

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
