:root {
  --font-size: 14px;
  --font-family:  Arial, sans-serif;

  /*
  Canvas, CanvasText unfortunately only works reliably on chrome atm
  more info: https://www.stefanjudis.com/today-i-learned/css-defines-color-values-that-follow-system-preferences/
   */
  --system-color-bg: Canvas;
  --system-color-text: CanvasText;
  color-scheme: light dark;
  background-color: var(--system-color-bg);
  color: var(--system-color-text);

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
