complete-javascript-course-master/slides-students-C03.pdf
python/.vscode/settings.json
complete-javascript-course-master/9-forkify/starter/node_modules/
python/.vscode/
javascript/node_modules/
angular/my-first-app/node_modules/
javascript/to-do-app/node_modules/
vue/playground/node_modules/
vue/.idea/
javascript/.idea/
javascript/tutorials/Javacscript30/JavaScript30-master/
javascript/tutorials/Javacscript30/11 - Custom Video Player/652333414.mp4
javascript/tutorials/Javacscript30/node_modules/
Gatsby/starter-files/sanity/sample-data/
Gatsby/stepped-solutions/
*.xml
*.map
javascript/tutorials/odin-project/node_modules/
javascript/tutorials/odin-project/.sass-cache/
/javascript/tutorials/odin-project/library-vue/src/db.js
/vue/linkedin/Frontend/src/assets
/javascript/tutorials/odin-project/library-vue/src/keys.js
/vue/linkedin/Backend/assets
vue/linkedin/Backend/node_modules/
.idea/
vue/linkedin/Frontend/Ex_Files_VueJS_FullStack.zip
javascript/tasks/.cache/
