
.search-button {
    cursor: pointer; 
}

.search-overlay {
    flex-direction: column;
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3em;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1000;
    backdrop-filter: blur(4px);


    &.x--active {
        display: flex;
    }

    .search-icon {
        cursor: pointer;
    }

    .close-icon {
        cursor: pointer;
        transform: scale(1.5);
        margin-left: 5em;
    }

}

.search-overlay__top {
    display: flex;
    align-items: center;
    

    input {
        margin-right: 2em;
    }
}

.search-overlay__results {
    margin-top: 2em;
}